@model PlayerRoom
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
<div class="alert alert-danger">
    @ViewBag.ErrorMessage
</div>
}
<div class="text-center">
    <h1>Room @Model.Room.Id: @Model.Room.Name</h1>
    <p class="room-description">@Model.Room.Description</p>
    @foreach (var mob in Model.Mobs ?? [])
    {
        <p class="mob-description">@mob.Description</p>
    }
    <p>Some things you could do:</p>
    <ul class="player-actions">
        @foreach (var action in Model.GetAvailableMovement())
        {
            <li>
                <form method="post" action="@action.ActionName">
                    <input type="hidden" name="verb" value="@action.Verb" />
                    <input type="hidden" name="direction" value="@action.Direction" />
                    <button type="submit">@action.Text</button>
                </form>
            </li>
        }
        @foreach(var mob in Model.Mobs ?? [])
        {
            <li>
                <form method="post" action="/PlayerAction/Attack">
                    <input type="hidden" name="mobId" value="@mob.Id" />
                    <button type="submit">ATTACK @mob.Name</button>
                </form>
            </li>
        }
    </ul>
</div>
<div>
    <p>Player: @Model.Player.Name</p>
    <p>PlayerStatsHere</p>
</div>
